body { 
    margin: 0; 
    height: 100vh;
    font-family: 'Open Sans Condensed', sans-serif;
}
  
canvas { 
    display: block;
}

.logo-container{
    position: absolute;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .1)
}

.logo-wrapper{
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 501;
    width: 325px;
    height: 380px;
}

#logo{
    position: absolute;
    left: 0;
    top: 85px;
    z-index: 100;
  
}

path{
    fill: rgb(255, 255, 255);
    color:white;
    /* stroke: black; */
}

#logo-text{
    position: absolute;
    left: -30px;
    top: 0px;
    z-index: 100;
   
}

#steam-animation{
    position:absolute;
    left: 100px;
    top: 25px;
    width: 100px;
    height: 100px;
    z-index: 300;
    opacity: 0;
}

#steam-animation2{
    position:absolute;
    left: 90px;
    top: 35px;
    width: 100px;
    height: 100px;
    z-index: 300;
    opacity: 0;
}

#steam-animation3{
    position:absolute;
    left: 90px;
    top: 45px;
    width: 100px;
    height: 100px;
    z-index: 300;
    opacity: 0;
}

#steam-animation4{
    position:absolute;
    left: 100px;
    top: 15px;
    width: 100px;
    height: 100px;
    z-index: 300;
    opacity: 0;
}

#info-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #f7f7f7;
    left: 0;
    top: 0;
    opacity: 0;
    display: none;
    z-index: 300;
    letter-spacing: 1px;
    list-style-type: none;
}

#close-info-container{
    position: absolute;
    width: 50px;
    height: 50px;
    color: black;
    z-index: 405;
    top: 0;
    right: 0;
    cursor: pointer;
}

#close-info-container > img {
    width: 100%;
}


/* details screen */

.details-screen{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 350;
    display: flex;
    flex-direction: column;
    display: none;
    padding: 0;
    margin: 0;
}

.details-main-flex-wrap{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.details-flex-wrap{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.title {
    position: relative;
    text-align: center;
    color: rgb(0, 185, 161);
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;
    padding: 10px;
    background:  #f7f7f7;
}

.project-info{
    width: 100%;
    color: rgb(43, 43, 43);
    letter-spacing: 1px;
    line-height: 35px;
}

.skills-icons{
    width: 100%;
    text-align: center;
    border: solid 1px black;
    margin: 20px 0 0 0;
}

.media-wrapper{
    height: 55vh;
    border: solid 1px black;
    background-color: black;
}

.big-buttons{
    width: 80%;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin: 15px;
    color: #505050;
    display: block;
    border: solid 1px #505050;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.big-buttons:hover{
    background-color: rgb(0, 185, 161);
    color: rgb(245, 245, 245);
}

.highlighter{
    color: rgb(0, 129, 129);
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    width: 60%;
}

.unclickable:hover{
    background: rgb(255, 63, 63);
}

/* canvas{
    width: 100vw !important;
    height: 56.25vw !important;
   
} */